.wi-80{
  width: 85%;
}
.outline{
  outline: none;
}
input[type="file"]{
  display: none;
}
.main{
  width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: #e7e7e7aa;
}
mat-card{
  border-radius: 15px;
  padding: 1.5rem;
  width: 70%;
}
mat-form-field{
  width: 100%;
}
.img{
  height: 5rem;
}
mat-spinner{
  float: right;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #fff !important;
}
.error-msg{
  background: #ff1d1dbd;
    color: #fff;
    padding: .5rem 1rem;
    border-radius: 6px;
    border: 3px solid #e12626;
}
.atag{
  color: #1310d9;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin-left: auto;
}