<div class="main">
  <div class="header pt-3 d-flex justify-content-center">
    <div style="background-color: #fff;">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option>
            Daily
          </mat-option>
          <mat-option>
            Monthly
          </mat-option>
          <mat-option>
            Yearly
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="chart-section m-3">
    <div class="pie-chart m-3">
      <div style="display: block">
        <canvas id="myChart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</div>